[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
allure-pytest = "*"
playwright = "==1.39.0"
pytest = "*"
pytest-mimesis = "*"
pytest-playwright = "*"
pytest-xdist = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
